.App {
  text-align: left;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  height:70vh;
  padding-top:15vh;
  padding-bottom:15vh;

}

.Student_List {
  background-color: white;
  overflow-y: auto;
  border-radius: 10px;
  border: solid rgba(0, 0, 0, 0.107);
  width: 60vw;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
